configuration {
	modi:				"drun,run";
	width:				450;
	lines:				8;
	show-match:			false;
	hide-scrollbar:		true;
	icon-theme:			"Papirus-Dark";
	show-icons:			true;
	font:				"SourceCodeProSemibold 13";
	theme:				"~/.config/rofi/nord.rasi";
}

