/* show bookmarks only on new tab */
#main-window #PersonalToolbar {
  visibility: collapse !important;
}
#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Nightly"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar, 
#main-window[title^="Firefox"] #PersonalToolbar {
  visibility: visible !important;
}

/* hide scrollbar in new tab*/
#main-window[title^="about:newtab"] #content browser,
#main-window[title^="New Tab"] #content browser,
#main-window[title^="Nightly"] #content browser,
#main-window[title^="Mozilla Firefox"] #content browser,
#main-window[title^="Firefox"] #content browser{
  margin-right: -17px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

